* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: unset;
  text-decoration: unset;
}
.App {
  background-color: #dbdada;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
